<html>
    <head>
        <title>From</title>
    </head>
    <body>
        <h1>Form</h1>
        <a href="/">Back</a>
        <form method="POST" action="/news">
            <input type="text" name="user" placeholder="Your Name" required />
            <input type="text" name="text" placeholder="Your Message" required />
            <button type="submit">Submit</button>
        </form>

    </body>
</html>